/**
 * @file
 * Belgrade theme implementation for the checkout progress component.
 */
.checkout-progress--step__next {
  opacity: 0.3;
}
.checkout-progress--step a::after {
  position: absolute;
  inset: 0;
  z-index: 1;
  content: "";
}
