.cklb-hero .content {
  display: grid;
}
.cklb-hero .cklb-title,
.cklb-hero .cklb-subtitle,
.cklb-hero .cklb-text {
  max-width: 800px;
}
.cklb-hero.text-end .content {
  justify-content: flex-end;
}
.cklb-hero.text-center .content {
  justify-content: center;
}
