@import "global";

:root {
  --beo-primary-hover: color-mix(in srgb, var(--beo-primary) 80%, black);
  --beo-link-color: var(--beo-primary);
  --beo-link-color-rgb: var(--beo-primary-rgb);
  --beo-link-hover-color: var(--beo-primary-hover);
  --beo-link-hover-color-rgb: var(--beo-primary-hover);
}

// Primary Button.
.btn-primary {
  --beo-btn-bg: var(--beo-primary);
  --beo-btn-border-color: var(--beo-primary);
  --beo-btn-hover-bg: var(--beo-primary-hover);
  --beo-btn-hover-border-color: var(--beo-primary-hover);
}

.btn-outline-primary,
.btn-outline-primary:focus {
  --beo-btn-color: var(--beo-primary);
  --beo-btn-border-color: var(--beo-primary);
  --beo-btn-hover-color: var(--beo-white);
  --beo-btn-hover-bg: var(--beo-primary-hover);
  --beo-btn-hover-border-color: var(--beo-primary-hover);
}

// Avoid box shadow on buttons
.btn-check:focus + .btn-primary,
.product--rendered-attribute .form-radio:focus + .btn-primary,
.btn-primary:focus,
.btn-primary:active:focus,
.btn-check:focus + .btn-outline-primary,
.product--rendered-attribute .form-radio:focus + .btn-outline-primary,
.btn-outline-primary:active:focus,
.btn-outline-primary:focus {
  box-shadow: 0 0 0 0.25rem rgb(0 0 0 / 10%);
}
