.block-local-tasks-block {
  position: fixed;
  top: 40vh;
  right: 0;
  width: auto;
  padding: 0;
  z-index: 501;
}
.block-local-tasks-block .nav-tabs {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  border: 1px solid var(--beo-light);
}
.block-local-tasks-block .nav-item + .nav-item {
  border-top: 1px solid var(--beo-white);
}
.block-local-tasks-block .nav-link {
  margin-bottom: 0;
  padding: 0.5rem 1rem;
  background-color: var(--beo-white);
  border-radius: 0;
  font-size: 0.875rem;
  font-weight: bold;
  text-transform: uppercase;
  opacity: 0.9;
}
.block-local-tasks-block .nav-link.active {
  opacity: 1;
  background-color: var(--beo-white);
  border: 0;
}
