//
// Fixed tabs.
// ----------------------------
@import "../global";

$nav-tabs-fixed-offset: 40vh;
$nav-tabs-fixed-zindex: 501;

.block-local-tasks-block {
  position: fixed;
  top: $nav-tabs-fixed-offset;
  right: 0;
  width: auto;
  padding: 0;
  z-index: $nav-tabs-fixed-zindex;

  .nav-tabs {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    border: 1px solid var(--#{$prefix}light);
  }

  .nav-item {
    & + .nav-item {
      border-top: 1px solid var(--#{$prefix}white);
    }
  }

  .nav-link {
    margin-bottom: 0;
    padding: 0.5rem 1rem;
    background-color: var(--#{$prefix}white);
    border-radius: 0;
    font-size: $font-size-sm;
    font-weight: bold;
    text-transform: uppercase;
    opacity: 0.9;

    &.active {
      opacity: 1;
      background-color: var(--#{$prefix}white);
      border: 0;
    }
  }
}
